.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #ecd8e0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

//ADD SHOP SCREEN

.form {
  background-color: #bad8e0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 30%;
  margin: auto;
  padding: 50px;
  border-radius: 15px;
  border: solid 2px #6abcd3;

  #name-required,
  #name-error,
  #area-required,
  #category-required,
  #opeining-date-required,
  #closing-date-required,
  #closing-date-error {
    display: none;
  }

  span {
    color: red;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
  }

  b {
    padding: 5px;
  }

  .name-field {
    background: #ffd5b6;
    height: 5vh;
    border: solid 2px lightgray;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 65%;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-family: "Varela Round", sans-serif;
  }

  select {
    background: #ffd5b6;
    height: 5vh;
    border: solid 2px lightgray;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 65%;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-family: "Varela Round", sans-serif;
  }

  .date-field {
    background: #ffd5b6;
    height: 5vh;
    border: solid 2px lightgray;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 65%;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-family: "Varela Round", sans-serif;
  }

  button {
    background: #ffd5b6;
    height: 5vh;
    border: solid 2px lightgray;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 65%;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: initial;
    font-weight: bolder;
    color: green;
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(34, 197, 56);
    color: black;
  }
}

//SHOP LIST SCREEN

.filter {
  background-color: #bad8e0;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
  width: 50%;
  margin: auto;
  border: solid 2px #6abcd3;
  padding: 10px;
  border-radius: 15px;

  select {
    background: #ffd5b6;
    height: 5vh;
    border: solid 2px lightgray;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 20vh;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-family: "Varela Round", sans-serif;
  }
}

.shop-list {
  background-color: #bad8e0;
  margin: 25px;
  padding: 10px;
  border: solid 2px #6abcd3;
  padding: 10px;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  margin-top: 15px;
}

.shop-details {
  background: #ffd5b6;
  display: flex;
  justify-content: space-evenly;
  border: solid 2px #dd9866;
  border-radius: 10px;
  margin: 5px;

  #category-div {
    align-self: center;
  }

  button {
    height: 7vh;
    width: 7vh;
    align-self: center;
    background: lightcoral;
    border: solid 2px lightgray;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background-color: black;
  }
}

//MOBILE RESPONSIVE DESIGN

@media screen and (max-width: 980px) {
  .filter,
  .shop-list {
    width: 85%;
  }

  .form {
    width: 50%;
    .name-field,
    .date-field,
    select,
    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 580px) {
  .filter {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }

  .form {
    width: 60%;
  }
}

@media screen and (max-width: 380px) {
  .shop-details {
    flex-direction: column;
  }
}
